@font-face {
  font-family: Azedo;
  src: url("Azedo.otf");
}

* {
box-sizing: border-box;
}

.flexbox {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
height: 100%;
width: 100% !important;
overflow: hidden;
}

.flexbox .item {
position: relative;
width: 33.33%;
}

.flexbox .item img {
width: 100%;
display: block;
transition: all .8s;
}

@media (max-width: 860px) {
.flexbox {
  height: 220vw;
}
.flexbox .item {
  width: 50%;
}
}

@media (max-width: 667px) {
.flexbox {
  height: auto;
}
.flexbox .item {
  width: 100%;
}
}

#tundra {
margin-left: 0px !important;
margin-right: 0px;
align-items: center;
}

#tundraHeading {
left:53%
}

@media only screen and (max-width: 600px) {
#tundra {
  margin-left: 0 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important; 
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  align-items: center !important;
  max-width: 80vw;
}

#tundraHeading {
  left:53%

}
}

/* START OVERLAY STYLE */
.container {
  position: relative; 
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0;
    margin-left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: transparent;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  font-family: Azedo;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*END OVERLAY STYLE    */
/* ------------------------- */
/* START GREYSCALE/SEPIA EFFECT */
body {
  width: 100vw
}
/*GrayScale*/
.grayscale img {
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.grayscale:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* SEPIA */
.sepia img {
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.sepia:hover img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
.toUpper
{
font-size: 50px;
}
/* END GREYSCALE/SEPIA EFFECT */
/* ------------------------------ */
/* underline effect */

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: rgb(174, 82, 82);
  transition: width 1s;
  color: rgb(174, 82, 82);
}

.underline:hover::after {
  width: 100%;
  color: rgb(174, 82, 82);
}
.underline:hover {
  color: rgb(174, 82, 82);
  transition: 1.2s ease-in-out;
}

h4{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.modal-head{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 20px 0px 0px 0px;
  padding: 2%;
  color: rgb(232, 234,208);
  font-size: 20px;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 0 0 5% 0;
}

#start {
    top: 900%;
    opacity: 0.9;
}

.jumbotron {
    background: transparent;
    color: aliceblue;
    font-family: Azedo;
    src: url("Azedo.otf");
}

.modal-body {
    max-height: calc(100vh - 210px);
    max-width: 100vw;
    overflow-y: auto;
}

#homeDiv {
  width: 100%;
}

#resultsCaption {
  color: aliceblue;
  font-size: 3rem;
}

.fullwidthrow {
  width: 100vw !important;
}

.important {
  width: 100vw !important;
}

.row {
  width: 100vw !important;
  text-align: center;
}

.carousel, .slide {
  width: 100vw;
}

.display-4 {
  align-self: center !important;
  text-align: center;
}

#destination {
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.lead {
  font-size: 50px;
}

#resultsContainer, 
#resultsJumbotron {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

#resultsCaption {
  font-family: 'Source Sans Pro', sans-serif;
}

#surveySum {
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 15px;
  background-color: rgb(39, 50, 101);
  color: white;
}

.carousel-item {
  margin: 0 auto;
}

.modal-content {
  background-color: rgba(24, 52, 39, .5)
}

/* code below is for an animation on the submit button if we want to use it.*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);


.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}
[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}
.btn-9 {
    color: rgb(232, 234,208);
    background-color: rgb(60, 78, 76, .8);
    font-family: 'Handlee', cursive;
    text-align: center;
    border-radius: 5px;
  }
  .btn-9:before, .btn-9:after,
  .btn-9 span:before,
  .btn-9 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(211, 201,167, 0.25);
    transition: 0.4s ease-in-out;
  }
  .btn-9:after,
  .btn-9 span:before {
    top: auto;
    bottom: 0;
  }
  .btn-9 span:before,
  .btn-9 span:after {
    transition-delay: 0.4s;
  }
  .btn-9:hover {
    color: rgb(232, 234,208);
  }
  .btn-9:hover:before, .btn-9:hover:after,
  .btn-9:hover span:before,
  .btn-9:hover span:after {
    height: 80px;
  }
  .btn-9:active {
    background-color: rgb(232, 234,208);
  }
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  
  @-webkit-keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
  }

#resultsContainer, 
#resultsJumbotron {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

#resultsCaption{
  font-family: 'Source Sans Pro', sans-serif;
}

#surveySum{
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 15px;
  background-color: rgb(39, 50, 101);
  color: white;
}

.carousel-item {
  margin: 0 auto;
}